@import url('reset.css');
/* CSS Document */

.-------------------- {}
/* border-radius by PIE-1.0.0 */
.radius {
	/* Скругление углов*/
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari, Google Chrome */
  -khtml-border-radius: 3px; /* KHTML */
  -o-border-radius: 3px; /* Opera */
  border-radius:3px; /* CSS3 */
  behavior: url(/css/PIE-1.0.0/PIE.htc); /* учим IE border-radius */
}
/* end */
.-------------------- {}

body {
	font-family: Arial, Helvetica, sans-serif;
}


.widthController {
	max-width: 1000px;
/*	width: 1000px; */
	margin: auto;
	border:1px solid #000;
}

a {
	color:#2286b6;
}

a:hover {
	color:#bf0f49;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	
}

footer {
	
}

.-------------------- {}

.clear {
	clear: both;
}

.-------------------- {}