@import url('reset.css');
/* CSS Document */

.-------------------- {}
/* border-radius by PIE-1.0.0 */
.radius {
	/* Скругление углов*/
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius:3px; /* Safari, Google Chrome */
  -khtml-border-radius: 3px; /* KHTML */
  -o-border-radius: 3px; /* Opera */
  border-radius:3px; /* CSS3 */
  behavior: url(/css/PIE-1.0.0/PIE.htc); /* учим IE border-radius */
}
/* end */
.-------------------- {}

a {
	color:#2286b6;
}

a:hover {
	color:#bf0f49;
}

h1, h2, h3, h4, h5, h6, code {
	font-family: Arial, Helvetica, sans-serif;
}

input:focus {
    outline:none; /* убрать рамку при активном поле формы */
}

body {
	min-width: 1000px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center; /* div align="center" for IE < 9 */
}

code {
	width:1000px;
	max-width: 1000px;
	overflow:hidden; /* избавляемся от белой полосы */
	margin: 0 auto;
	display:block;
	text-align:left; /* div align="center" for IE < 9 */
	background:#00CCCC;
}

header {
	background:#e8e7d5;
}

header menu li {
	display: inline;
}

.-------------------- {}



.-------------------- {}

footer {
	
}

.-------------------- {}

.clear {
	clear: both;
}

.-------------------- {}